/*================================
    Explore Pane
=================================*/

/*--------For correcting slick scroll----------*/
.slick-list {
    padding: 10px;
}

.slick-dots {
    width: auto;
    bottom: -15px;
}

.slick-dots li button:before {
    opacity: 1;
    color: rgb(150, 150, 150);
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}

.slick-prev {
    left: 2px;
    z-index: 10;
}

.slick-next {
    right: 10px;
    z-index: 10;
}

.slick-prev:before,
.slick-next:before {
    font-size: 30px;
}

/*--------Actual CSS----------*/
.explore-pane {
    margin-top: 80px;
    min-height: 305px;
    background-color: var(--explore-pane-bg);
    padding-top: 20px;
    padding-bottom: 20px;
}

.image-container {
    /* background-color: #000; */
    /* min-height: 340px; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 0px;
}

.explore-img {
    height: 260px;
    width: 260px;
    /* padding-left: 10px; */
    padding-right: 30px;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.explore-img:hover {
    transform: scale(1.05);
}

/*================================
    Restaurants List Pane
=================================*/
/*--------Heading----------*/
.rest-head {
    /*	background-color: #000;*/
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid var(--rest-head-border-bottom);
}

.rest-head h1 {
    font-size: 28px;
}

.rest-head ul li {
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    padding-left: 18px;
}

.rest-head ul li span {
    font-weight: 600;
}

/*--------Restaurants----------*/
.restaurants-pane {
    background-color: var(--restaurants-pane-bg);
    min-height: 100vh;
    padding: 20px 0px;
    min-height: calc(100vh - 400px);
}

.rest-cards-container {
    /* max-width: 1200px; //bootstarp overridden */
    margin: 0 auto;
    padding-top: 39px;
}

.rest-cards-row {
    /* margin-bottom: 85px; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
}

/*--------Restaurant Card----------*/

.rest-card {
    padding: 20px 20px;
    border: 1px solid var(--rest-card-border);
}

.rest-name {
    margin-top: 14px;
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
}

.rest-tag {
    color: var(--rest-tag-color);
    font-size: 13px;
    margin-top: 4px;
}

.rest-row1 {
    margin-top: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--rest-row1-color);
    box-sizing: inherit;
}

.rest-row1 ion-icon {
    font-size: 15px;
    margin-top: -2px;
}

.rest-row1-rating {
    display: flex;
    align-items: center;
    background-color: #48c479;
    color: var(--rest-row1-rating-color);
    height: 20px;
    width: 43px;
    padding: 0 5px;
    font-weight: 400;
}

.rest-row2 {
    border-top: 1px solid var(--rest-row2-border-top);
    padding-top: 14px;
    margin-top: 14px;
    color: var(--rest-row2-color);
    font-size: 14px;
    /* display: flex;
    align-items: center; */
    font-weight: 500;
}

.rest-row2 ion-icon {
    margin-bottom: -3px;
    font-size: 18px;
}

.rest-row3 {
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid var(--rest-row3-border-top);
    font-size: 13px;
    color: var(--rest-row3-color);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    visibility: hidden;
}

.rest-card:hover {
    border-color: var(--rest-card-hover-border-color);
    box-shadow: 0 4px 7px 0 var(--rest-card-hover-box-shadow);
}

.rest-card:hover .rest-row3 {
    visibility: visible !important;
}

/*--------Bootstrap Modal----------*/

.modal-content {
    background-color: var(--modal-content-background-color);
    border: 1px solid var(--modal-content-border);
}

.modal-content .btn {
    color: var(--modal-content-btn-color);
}

.modal-header {
    border-bottom: 1px solid var(--modal-content-border);
}

.modal-footer {
    border-top: 1px solid var(--modal-content-border);
}

.quick-view .modal-title {
    letter-spacing: 1px;
    font-size: 20px;
    color: #fc8019;
    font-weight: 600;
}

.quick-view .modal-body {
    display: flex;
    align-items: center;
}

.modal-body .menu-list {
    width: 40%;
    justify-content: space-around;
    text-align: center;
}

.menu-list .menu-title {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.menu-list .menu-address {
    font-size: 13px;
}

.menu-list img {
    height: 10px;
    margin: 15px;
}

.menu-list ul {
    list-style: none;
    font-size: 13px;
}

.menu-list ul li {
    padding: 3px 0;
}

.modal-body .menu-img {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 12px;
}

.menu-img .img-holder {
    padding: 5px 0;
    max-width: 112px;
}

.menu-img img {
    padding-bottom: 1px;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-img img:hover {
    transform: scale(1.03);
}
