.rest-head {
	/*	background-color: #000;*/
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid var(--rest-head-border-bottom);
}

.rest-head h1{
	font-size: 28px;	
}

.rest-head ul li {
	display: inline-block;
	font-size: 15px;
	margin-top: 10px;
	padding-left: 18px;
}

.rest-head ul li span {
	font-weight: 600;
}